* {
    font-family: 'Montserrat', sans-serif;
}

.screen-services {
    width: 100%;
}

.services-parent {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    /* border: 2px solid red; */
}

.services-head {
    width: 82%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    border-bottom: 2px solid #e5e5e5;
    /* margin-top: 60px; */
    margin-top: 180px;
    margin-bottom: 60px;
}

.services-head span {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #39b54a;
    text-transform: uppercase;
}

.services-head h2 {
    font-size: 52px;
    line-height: 68px;
    font-weight: 700;
    /* text-transform: capitalize; */
    text-align: center;
    margin-bottom: 40px;
    color: black;
    /* border: 1px solid red; */
}

.services-card-main-parent {
    width: 100%;
    height: 900px;
    color: red;
    background: white;
    /* border: 2px solid red; */
    margin-bottom: 40px;
}

.service-card-parent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.services-card-child{
    width: 45%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.services-child-left{
    width: 18%;
    height: 100%;
    /* border: 2px solid red; */
}

.services-child-left i{
    display: flex;
    justify-content: center;
    color: #39b54a;
}


.services-child-right{
    width: 82%;
    height: 100%;
    /* border: 2px solid red; */
    color: black;
}

.services-child-right *:nth-child(1){
    color: black;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.services-child-right *:nth-child(2){
    color: black;
    font-size: 20px;
    line-height: 32px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
}